.grid {
    display: grid;
    grid-template-areas: "sidebar header"
                         "sidebar body";
    grid-template-columns: 400px 1fr;
    grid-template-rows: 170px 1fr;
    height: 100vh;
    overflow: hidden;
    width: 100%;
}

.grid-sidebar {
    grid-area: sidebar;
}

.grid-header {
    grid-area: header;
    font-size: large;
    padding-top: 10px;
    height: 170px;
    width: 860px;
}

.grid-body {
    grid-area: body;
    overflow-y: auto;
    height: 510px;
    width: 860px;
    padding-bottom: 10px;
}

.player {
    padding-left: 10px;
}

.row-spot {
    padding-top: 15px;
    margin-left: 20px
}

.img-photo {
    padding-top: 5px;
    margin-left: 50px;
    border-radius: 10px;
}

.img-youtube {
    width: 90px;
    padding-left: 10px;
    margin-left: 35px;
}

.img-spotify {
    width: 75px;
    padding-top: 3px;
}

td {
    font-size: larger;
    height: 60px;
}

.pagination {
    padding-left: 40px;
}