.grid {
    display: grid;
    grid-template-areas: "sidebar header"
                         "sidebar body";
    grid-template-columns: 350px 1fr;
    grid-template-rows: 200px 1fr;
    height: 100vh;
    overflow: hidden;
    width: 100%;
}

.grid-sidebar {
    grid-area: sidebar;
}

.grid-header {
    grid-area: header;
    font-size: large;
}

.grid-body {
    grid-area: body;
    overflow-y: auto;
    height: 545px;
    padding-bottom: 10px;
}

.img-youtube {
    width: 90px;
    padding-left: 10px;
}

.img-spotify {
    width: 75px;
    padding-top: 3px;
}