a {
  color: black;
}

ul {
  list-style-type: none;
  font-size: larger;
}

body {
  background: url(/static/IMG_20180922_164805-7-3.jpg) no-repeat center center fixed
  ;
  background-size: cover;
  height: 100%;
  color: #000;
  line-height: 1.3;
  -webkit-font-smoothing: antialiased;
}

nav {
  padding-top: 10px;
  background-color: rgba(255, 255, 255, 0.41);
}

.search.form-control.mr-sm-2 {
  width: 240.992188px;
}

.date.form-control {
  width: 125.992188px;
}

.container-fluid.flex-container {
  position: fixed;
  background-color: rgba(255, 255, 255, 0.82);
  margin-top: 70px;
  margin-left: 100px;
  margin-right: 100px;
  border-right-width: 100px;
  width: 1330px;
  border-bottom-width: 15px;
  margin-bottom: 30px;
  height: 800px;
}

.flex-wrapper {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  height: 100vh;
  width: 100vw;
}

.flex-nav {
  flex: none;
}

.flex-container {
  flex: auto;
  overflow: hidden;
}

.share {
  font-size: smaller;
}

.img-share {
  width: 30px;
  height: 30px;
}

.img-photo {
    padding-top: 5px;
    margin-left: 50px;
    border-radius: 10px;
}

td {
    font-size: larger;
    height: 60px;
}