{% extends 'base.html' %}
{% block content %}

<h1>{{ artist.artist_name }}</h1>
  <img src="{{ artist.artist_photo }}"><br>
  {{ artist.artist_bio }}<br>

{% set youtube_query = artist.artist_name.replace(" ", "+") %}
<a href="https://www.youtube.com/results?search_query=music+{{ youtube_query }}" target="blank"><img src="/static/youtube-icon.png" alt="Watch now on YouTube" /></a>
<br>
  <!--  For Spotify player-->
  <!-- https://developer.spotify.com/documentation/widgets/generate/play-button/ -->
  <iframe src="https://open.spotify.com/embed/playlist/{{ playlist_id }}" width="300" height="380" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>

  {% if artist_event_dicts|length > 0 %}
    <ul>
      {% for event in artist_event_dicts %}
        <li>
          {{ event[0].event_datetime }}
          <a href="/event/{{ event[0].event_id }}">
          {{ event[0].venue.venue_name }}</a>
           <br>
          <ul>
              {% for key in event[1] %}
              <li>
                <a href="/artist/{{ event[1][key].artist_id }}">
                  {{ event[1][key].artist_name }}</a>
                  {{ event[1][key].artist_genres }}<br>
              </li>
              {% endfor %}
          </ul>
        </li>
      {% endfor %}
    </ul>
  {% else %}
    Sorry, no events for this artist.
  {% endif %}

      <nav aria-label="Page navigation">
        <ul class="pagination">
          {% for i in range(total_pages) %}
            {% set page = i + 1 %}
            <li class="page-item"><a class="page-link" href="#">{{ page }}</a></li>
          {% endfor %}
        </ul>
      </nav>

{% endblock %}