{% extends 'base.html' %}
{% block content %}

<!--Artist page css -->
<link rel="stylesheet" href="/static/artist.css" />
<h1>{{ artist.artist_name }}</h1> 
<div class="grid">
  <div class="grid-sidebar">
    <div>
      {{ artist.artist_genres }}
    </div>
    <div class="row-spot">
      <!--  For Spotify player-->
      <!-- https://developer.spotify.com/documentation/widgets/generate/play-button/ -->
      <iframe class="player" src="https://open.spotify.com/embed/playlist/{{ playlist_id }}" width="300" height="380" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>
    </div>
    <div class="row">
      <img class="img-photo" src="{{ artist.artist_photo }}">
    </div>
    <div class="row">
      {% set youtube_query = artist.artist_name.replace(" ", "+") %}
      <a href="https://www.youtube.com/results?search_query=music+{{ youtube_query }}" target="blank">
        <img class="img-youtube" src="/static/youtube-icon.png" alt="Watch now on YouTube" />
      </a>
      {% set spot, art, artist_uri = artist.spotify_uri.split(":") %}
      <a href="https://open.spotify.com/artist/{{ artist_uri }}" target="blank">
        <img class="img-spotify"src="/static/spotify-icon.png" alt="Find the artist on Spotify" />
      </a>
    </div>
  </div>
  <div class="grid-header">
    {{ artist.artist_bio }}
  </div>
  <div class="grid-body">
    {% if artist_event_dicts|length > 0 %}
      <table>
        {% for event in artist_event_dicts %}
          <tr>
            <td><b><a href="/event/{{ event[0].event_id }}">{{ event[0].event_datetime }}</a></b><br></td>
            <td>&nbsp &nbsp {{ event[0].venue.venue_city }}, {{ event[0].venue.venue_state }}</td>
            <td>&nbsp &nbsp {{ event[0].venue.venue_name }}</td>
          </tr>
        {% endfor %}
      </table>
    {% else %}
      Sorry, no events for this artist.
    {% endif %}
    {% if total_pages > 1 %}
    <nav aria-label="Page navigation">
      <ul class="pagination">
        {% for i in range(total_pages) %}
          {% set page = i + 1 %}
          <li class="page-item"><a class="page-link" href="/artist/{{ artist.artist_id }}/{{ page }}">{{ page }}</a></li>
        {% endfor %}
      </ul>
    </nav>
    {% endif %}
  </div>
</div>
{% endblock %}