{% extends 'base.html' %}
{% block content %}

<h1>{{ artist.artist_name }}</h1>

  <ul>
    {% for item in artist_event_dicts %}
      <li>
        <a href="{{ item[0].event_url }}">
        {{ item[0].venue.venue_name}}</a><br>
        {{ item[0].venue.venue_loc }}<br>
        {{ item[0].event_datetime }} <br>
        <ul>
            {% for key in item[1] %}
            <li>
              <a href="/artist/{{ artist.artist_id }}">
                {{ item[1][key].artist_name }}</a><br>
                {{ item[1][key].artist_genres }}<br>
              <img src="{{ item[1][key].artist_photo }}">
            </li>
            {% endfor %}
        </ul>
      </li>
    {% endfor %}
  </ul>
{% endblock %}