{% extends 'base.html' %}
{% block content %}

<!--Check artist page css -->
<link rel="stylesheet" href="/static/check_artist.css" />

  {% if artist_options|length > 0 %}
  <h2>Found a few artists that match your search. Which artist are you looking for?</h2>
  <br>
  <div class="grid">
    <ul>
    {% for artist in artist_options %}

      <li>
        <a href="/artist/{{ artist.artist_id }}/1">
          {{ artist.artist_name }}</a><br>
          {{ artist.artist_genres }}<br>
        <img src="{{ artist.artist_photo }}">
      </li>

    {% endfor %}
    </ul>
  {% else %}
    Sorry, no artists found.
  {% endif %}
</div>
{% endblock %}