{% extends 'base.html' %}
{% block content %}


<h3>Events</h3>
  {% if event_options|length > 0 %}
  <h2>Found a few events that match your search. Which one are you looking for?</h2>
    <ul>
      {% for event in event_options %}
        <li>
          <a href="/event/{{ event.event_id }}">
            {{ event.event_title }}</a>
            {{ event.event_datetime }}<br>
            {{ event.venue.venue_name }}<br>
            {{ event.venue.venue_add }}
            {{ event.venue.venue_extend_add }}
        </li>
      {% endfor %}
    </ul>
  {% else %}
    Sorry, no events found.
  {% endif %}

      <nav aria-label="Page navigation">
        <ul class="pagination">
          {% for i in range(total_pages) %}
            {% set page = i + 1 %}
            <li class="page-item"><a class="page-link" href="/check_event/{{ page }}">{{ page }}</a></li>
          {% endfor %}
        </ul>
      </nav>

{% endblock %}

