{% extends 'base.html' %}
{% block content %}

<!--Check event page css -->
<link rel="stylesheet" href="/static/check_event.css" />

<div class="grid">
  {% if event_options|length > 0 %}
  <div class="grid-header">
    <h2>Found a few events that match your search.<br>
    Which one are you looking for?</h2>
  </div>
  <div class="grid-body"> 
    <ul>
      {% for event in event_options %}
        <table>
          <tr>
            <td>
              <b><a href="/event/{{ event.event_id }}">{{ event.event_datetime }}</a></b>
              &nbsp &nbsp {{ event.venue.venue_name }}
            </td>
          </tr>
          <tr>
            <td>
              &nbsp {{ event.event_title }}
            </td>
          </tr>
          <tr>
            <td>
              <br>
            </td>
          </tr>
        </table>
      {% endfor %}
    </ul>
    {% if total_pages > 1 %}
      <nav aria-label="Page navigation">
        <ul class="pagination">
          {% for i in range(total_pages) %}
            {% set page = i + 1 %}
            <li class="page-item"><a class="page-link" href="/check_event/{{ page }}">{{ page }}</a></li>
          {% endfor %}
        </ul>
      </nav>
    {% endif %}
  </div>
</div>
  {% else %}
    Sorry, no events found.
  {% endif %}

{% endblock %}

