{% extends 'base.html' %}
{% block content %}

<h2>Found a few events/venues that match your search. Which one are you looking for?</h2>

<h3>Events</h3>
    <ul>
    {% for event_option in event_options %}

      <li>
        <a href="/event/{{ event_option.event_id }}">
          {{ event_option.event_title }}
        </a>
      </li>

    {% endfor %}
    </ul>

<h3>Venues</h3>
    <ul>
    {% for venue_option in venue_options %}

      <li>
        <a href="/venue/{{ venue_option.venue_id }}">
          {{ venue_option.venue_name }}
        </a>
      </li>

    {% endfor %}
    </ul>
{% endblock %}

