{% extends 'base.html' %}
{% block content %}

<h2>{{ event.event_title }}</h2>
<h4>{{ event.event_datetime }}</h4><br>
{{ event.venue.venue_name }}<br>
{{ event.venue.venue_add }}<br>
{{ event.venue.venue_city + ", " + event.venue.venue_state + " " + event.venue.venue_zip }}<br>

{% set gmaps_query = (event.venue.venue_name.replace(" ", "+") + "+" + event.venue.venue_city.replace(" ", "+") + "+" + event.venue.venue_state) %}
<a href="https://www.google.com/maps/search/{{ gmaps_query }}" target="blank"><img src="/static/gmaps-icon.png" alt="Watch now on YouTube" /></a><br>

<a href="{{ event.event_url }}" target="blank"><img src="/static/seatgeek-icon.png" alt="Find tickets on SeatGeek" /></a>

<!--  For Spotify player-->
<!-- https://developer.spotify.com/documentation/widgets/generate/play-button/ -->
<iframe src="https://open.spotify.com/embed/playlist/{{ playlist_id }}" width="300" height="380" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>

<h5>Concert Lineup</h5>

    <ul>
        {% for key in event_dicts %}
        <li>
            <a href="/artist/{{ event_dicts[key].artist_id }}">
            {{ event_dicts[key].artist_name }}</a>
            {{ event_dicts[key].artist_genres }}<br>
            {{ event_dicts[key].artist_bio }}<br>
            <img src="{{ event_dicts[key].artist_photo }}">
        </li>
        <br>
        {% endfor %}
    </ul>

{% endblock %}