{% extends 'base.html' %}
{% block content %}

<h2>{{ event.event_title }}</h2>
{{ event.venue.venue_name }}<br>
{{ event.venue.venue_add }}<br>
{{ event.venue.venue_extend_add }}<br>

<h3>Concert Lineup</h3>

    <ul>
        {% for key in event_dicts %}
        <li>
            <a href="/artist/{{ event_dicts[key].artist_id }}">
            {{ event_dicts[key].artist_name }}</a><br>
            {{ event_dicts[key].artist_genres }}<br>
            <img src="{{ event_dicts[key].artist_photo }}">
        </li>
        <br>
        {% endfor %}
    </ul>

<!--  For Spotify player-->
<!-- https://developer.spotify.com/documentation/widgets/generate/play-button/ -->
<!-- NEED TO INSERT /embed --> <!-- May want to concatinate playlist id to URL base -->
<iframe src="https://open.spotify.com/embed/playlist/{{ playlist_id }}" width="300" height="380" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>

{% endblock %}