{% extends 'base.html' %}
{% block content %}

<h1>Welcome!</h1>
<h2>Full concert to find artist information for entire lineup</h2>

<!-- Will want to have form in nav/navbar/sidebar to give user accss on every page -->
<form action="/search" method="POST">

    <div class="form-group">
        <label for="searchType">Select</label>
            <select class="form-control" id="searchType" name="searchType">
            <option value="Artist">Artist</option>
            <option value="Venue">Venue</option>
            <option value="Event">Event</option>
            </select>
    </div>

  <div class="form-group">
    <label for="userSearchInput">Search</label>
    <input type="text" class="form-control" id="userSearchInput" aria-describedby="emailHelp" placeholder="Type search here" name="userSearchInput">
    <small id="emailHelp" class="form-text text-muted"></small>
  </div>

    <div class="form-group">
        <label for="userCityInput">City</label>
        <input type="text" class="form-control" id="userCityInput" name="userCityInput" placeholder="Optional">
    </div>

  <div class="form-group">
        <label for="form-control">State</label>
            <select class="state" id="state" name="state">
            <option value=""></option>
            <option value="CA">CA</option>
            <option value="NY">NY</option>
            <option value="WA">WA</option>
            </select>
  </div>

<!-- May want to keep list of genres as an option -->
<!--       <div class="form-group">
            <label for="genre">Genre</label>
                <select class="form-control" id="genre" name="genre">
                <option value="None"></option>
                <option value="Rock">Rock</option>
                <option value="Pop">Pop</option>
                <option value="Folk">Folk</option>
                </select>
      </div> -->

  <button type="submit" class="btn btn-primary">Search</button>
</form>

<div>
    <button id="loc-button">Get User Location</button>
    <div id="output"></div>
</div>
    <script>
        "use strict";
            // declare pos here

        var pos;
        // From Google Maps JavaScript API
        // https://developers.google.com/maps/documentation/javascript/examples/map-geolocation
        $('#loc-button').click(function(){

            if(navigator.geolocation) {
            navigator.geolocation.getCurrentPosition(function(position){
                pos = {
              lat: position.coords.latitude,
              lng: position.coords.longitude
            };

                $.ajax({
                    type : "POST",
                    url : "{{url_for('index')}}",
                    data: JSON.stringify(pos),
                    contentType: 'application/json;charset=UTF-8',
                    success: function(result) {
                        console.log(result);
                        }
                        });
                console.log(pos);
                    });
            }
            else {
                console.log("geolocation is not supported");
            }})
            
    </script>

<!-- <div id="root"> </div>
 <script crossorigin src="https://unpkg.com/react@16/umd/react.development.js"></script>
  <script crossorigin src="https://unpkg.com/react-dom@16/umd/react-dom.development.js"></script> -->

<!--   <script src="http://unpkg.com/babel-standalone"></script>

  <script src="/static/search-form.jsx" type="text/jsx"></script> -->
{% endblock %}