{% extends 'base.html' %}
{% block content %}


<h1>{{ venue.venue_name }}</h1>
    {{ venue.venue_add }}<br>
    {{ venue.venue_extend_add }}<br>

  {% if venue_event_dicts|length > 0 %}
    <ul>
      {% for item in venue_event_dicts %}
        <li>
          <a href="/event/{{ item[0].event_id }}">
          {{ item[0].event_title }}</a>
          {{ item[0].event_url }}  <br>
          {{ item[0].event_datetime }}  <br>
        <ul>
            {% for key in item[1] %}
            <li>
              <a href="/artist/{{ item[1][key].artist_id }}">
              {{ item[1][key].artist_name }}</a><br>
              {{ item[1][key].artist_genres }}<br>
            </li>
            {% endfor %}
        </ul>
      </li>
      {% endfor %}
    </ul>
  {% else %}
    Sorry, no events for this venue.
  {% endif %}
  
{% endblock %}

